{include file="public/head"}

<link rel="stylesheet" href="__CSS__/mobile/loading.css">
<header class="top">
    <span>关于我们</span>
    <a href="/mobile/user/index" class="top_ico top_backleft"></a>
</header>

<img src="/public/src/images/denglu.png" alt="">

<p style="font-size: 1.4rem;text-indent:2em;margin-top: 1rem;">
    客如云科技是国内真正致力于利用大数据和领先的风控

    能力实现创新的金融技术公司，为广大用户提供“便捷、

    高效、人性化”的小额短期现金借款服务。
</p>
<p
        style="font-size: 1.4rem;text-indent:2em;margin-top: 1rem;">
    平台实现了全自动化的审批、放款，最快16秒现金到账。
</p>