

<style>
    .get {
        position: relative;
        background: #dd514c;
        color: #fff;
        text-align: center;
        height: 200px;
    }

    .get-title {
        font-size: 15px;
        width: 80%;
        margin: 0px auto;
        border: 2px solid #fff;
        padding: 20px;
        height: 300px;
        display: inline-block;
        background: #fff;
        border-radius: 4px;
        color: #716F6F;
        box-shadow: 0 0 15px #989797;
    }

    .get-btn {
        font-size: 23px;
        color: #000;
    }

    
    .footer {
        border-top: 2px solid #ddd;
        color: #7f8c8d;
        text-align: center;
        margin-top: 5rem;
    }

    .jiebutton {
        box-shadow: 0 0 10px #FF8D00;
        background: #FFA500;
        color: #fff;
    }

    .cesebolo {
        text-align: center;
        margin-top: 17rem;
    }

    .boxder {
        border-radius: 4 p x;
        border: 1px solid #fff;
        box-shadow: 0 0 15px #989797;
        margin: 1px 2.5rem 10px 2.5rem;
    }

    .imgs {
        width: 37px;
    }

    .box_sha {
        border-radius: 4px;
        border: 1px solid #fff;
        box-shadow: 0 0 15px #989797;
        margin-top: 2.5rem;
        padding: 4px 0px;
    }

    .get_wrap {
        position: absolute;
        left: 0px;
        width: 100%;

    }

    .cssborder {
        border: 0;
        background: transparent;
    }
</style>
<footer class="footer" style="position:fixed;bottom: 0;left: 0;width: 100%;border-top:2px solid #ddd;background:#fff;">
    <div class="am-g am-g-fixed"  >
        <a href="/mobile/index/newindex.html" style="width:33.3333%;float: none;text-align:center;">
            <div class="am-u-sm-4" style="color: #7a7a7a;"><img src="/public/src/images//sy.png" class="imgs"><br><b>首页</b>
            </div>
        </a>
        <a href="/mobile/index/index.html" style="width:33.3333%;float: none;text-align:center;">
            <div class="am-u-sm-4" style="color: #DD514C;"><img src="/public/src/images/sp.png" class="imgs"><br><b>借款</b>
            </div>
        </a>
        <a href="/mobile/user/index"  style="width:33.3333%;float: none;text-align:center;">
            <div class="am-u-sm-4" style="color: #7a7a7a;"><img src="/public/src/images/user.png" class="imgs"><br><b>我的</b></div>
        </a>
    </div>
</footer>